.root{
	-fx-font-family: "TUM Neue Helvetica 55 Regular";
	-fx-font-size: 12pt;
}

.item_title {
	-fx-font-size: 13pt;
	-fx-effect: dropshadow(one-pass-box, #000000, 32,0.4,0,0);
}
.item_subtitle {
	-fx-font-size: 10pt;
}
.item_detail_title {
	-fx-font-size: 13pt;
}

.gradient_person {
	-fx-fill: linear-gradient(#70B2EE00 60%, #0073CF 100%);
}
.gradient_person_dark {
	-fx-fill: linear-gradient(#70B2EE80 60%, #0073CF 100%);
}
.gradient_organization {
	-fx-fill: linear-gradient(#00529300 60%, #005293 100%);
}
.gradient_organization_dark {
	-fx-fill: linear-gradient(#00529380 60%, #005293 100%);
}
.gradient_content {
	-fx-fill: linear-gradient(#A2AD0000 60%, #A2AD00 100%);
}
.gradient_content_dark {
	-fx-fill: linear-gradient(#A2AD0080 60%, #A2AD00 100%);
}
.gradient_person_subtle, .gradient_person_subtle > .viewport {
	-fx-background-color: linear-gradient(#70B2EE 10%, #0063BF 40%);
}
.gradient_organization_subtle, .gradient_organization_subtle > .viewport {
	-fx-background-color: linear-gradient(#005293 10%, #004283 40%);
}
.gradient_content_subtle, .gradient_content_subtle > .viewport {
	-fx-background-color: linear-gradient(#A2AD00 10%, #929D00 40%);
}
.fill_color_person {
	-fx-fill: #70B2EE;
}
.fill_color_organization {
	-fx-fill: #005293;
}
.fill_color_content {
	-fx-fill: #A2AD00;
}
.color_person {
	-fx-background-color: #70B2EE;
	-fx-stroke: #70B2EE;
}
.color_organization {
	-fx-background-color: #005293;
	-fx-stroke: #005293;
}
.color_content {
	-fx-background-color: #A2AD00;
	-fx-stroke: #A2AD00;
}

.scroll-bar:vertical {
  -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: rgba(255,255,255,0.3);
}
