/*---------------------------------------
Author:		Thomas Salwasser
Email: 		thomas.salwasser@unibw.de
Created:	2014-12-04
Description:	Stylesheet for MyMap
-----------------------------------------*/

html { height: 100% }

body { 
	height: 100%; 
	width: 100%;
	}

#map_canvas {
	position: absolute; 
	height: 100%; 
	width: 100%; 
	z-index: 1;
	}
	
#map_wrapper {
	height: 400px;
	}
	
#Suchfenster {
	position: absolute;
	top: 20px;
	left: 20px;
	height: 40px;
	min-width: 280px;
	z-index: 5; 
	background-color: rgba(169,169,169,0.75); 
	border: 2px outset black;
	padding: 5px 10px 5px 5px;
	font-size: 20px;
	font-weight: bold;
	}	
	
.searchField {
	width: 200px;
    height: 35px;
    padding: 0;
	margin-right: 5px; 
    position: relative;
    *overflow: hidden;
	}
	
.searchButton {
	height: 37px;
	width: 60px;
	padding-left: 15px;
    text-indent: -15px;
	line-height: 50px;
	vertical-align: middle;
	font-weight: normal;
	}
	
#checkbox {
	position: absolute;
	bottom: 20px;
	left: 20px;
	min-width: 200px;
	z-index: 5; 
	background-color: rgba(169,169,169,0.75); 
	border: 2px outset black;
	padding: 5px 10px 5px 5px;
	font-size: 20px;
	font-weight: bold;
	}

label {
    padding-left: 15px;
    text-indent: -15px;
	line-height: 50px;
	vertical-align: middle;
	font-weight: normal;
	}
	
input {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 5px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
	}