.vi-label {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
}
.vi-label-large {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
}

.vi-person {
	color:
}
.vi-content {
	
}
.vi-content-agendaitem {
	
}
.vi-organization {
	
}
.vi-blog {
	
}
.vi-micropost {
	
}