<html>
<head>
<link rel="stylesheet" type="text/css" href="${baseurl}/detail.css">
<meta charset="utf-8">
</head>
<body style="background-color: #A2AD00;">
<div class="description">
${description}
</div>
</body>
</html>