* {
	user-select: none;
	-webkit-user-select: none;
}
html, body, p {
	font-family: 'Arial', sans-serif;
	color: #fff;
}
body {
	margin: 0;
}

#map {
	height: 86%;
  	width: 96%;
  	padding: 0; margin: 0;
}