<html>
<head>
<link rel="stylesheet" type="text/css" href="${baseurl}/detail.css">
<meta charset="utf-8">
</head>
<body style="background-color: #70B2EE;">
<div class="description">
${description}
<#if imageUrl?has_content>
<!--img src="${imageUrl}" width="150"/-->
</#if> 
</div>
</body>
</html>